In [23]:
# Import requisite libraries
import pandas as pd
import numpy as np

In [2]:
# Creating dataframes based on each dataset

data1 = 'startup_funding2018.csv'
data2 = 'startup_funding2019.csv'
data3 = 'startup_funding2020.csv'
data4 = 'startup_funding2021.csv'

df1 = pd.read_csv(data1)
df2 = pd.read_csv(data2)
df3 = pd.read_csv(data3)
df4 = pd.read_csv(data4)

In [3]:
# Adding a year column to each dataset so that rows are not lost should it become necessary to merge all datasets later on
year_1 = 2018
df1['Year'] = year_1

year_2 = 2019
df2['Year'] = year_2

year_3 = 2020
df3['Year'] = year_3

year_4 = 2021
df4['Year'] = year_4

# Convert the year column from int data type to year data type
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y').dt.year

df2['Year'] = pd.to_datetime(df2['Year'], format='%Y').dt.year

df3['Year'] = pd.to_datetime(df3['Year'], format='%Y').dt.year

df4['Year'] = pd.to_datetime(df4['Year'], format='%Y').dt.year

In [4]:
# Preview of df1
df1.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [5]:
# Preview of df2
df2.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [6]:
# Preview of df3
df3.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,NaN,NaN,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,NaN,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,NaN,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,NaN,NaN,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,NaN,NaN,2020

In [7]:
# Preview of df4
df4.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,Year
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [8]:
# Rename columns in df1 to match columns with similar content in df2, df3 and df4
df1 = df1.rename(columns = {'Company Name' : 'Company_Brand', 'Round/Series' : 'Stage', 'About Company' : 'What_it_does', 'Amount' : 'Amount($)'})
df1

,Company_Brand,Industry,Stage,Amount,Location,What_it_does,Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018

In [9]:
# Extract Headquarters information from df1's Location column
df1['Headquarters'] = df1['Location'].str.split(',').str[0]
df1['Headquarters']

0      Bangalore
1         Mumbai
2        Gurgaon
3          Noida
4      Hyderabad
         ...
521    Bangalore
522      Haryana
523       Mumbai
524       Mumbai
525      Chennai
Name: Headquarters, Length: 526, dtype: object

In [10]:
# Information on df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Industry       526 non-null    object
 2   Stage          526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   What_it_does   526 non-null    object
 6   Year           526 non-null    int32
 7   Headquarters   526 non-null    object
dtypes: int32(1), object(7)
memory usage: 30.9+ KB

In [48]:
# Convert Amount from object to float data type

# First, remove currency symbol ₹
df1['Amount($)'] = df1['Amount($)].str.replace('₹', '')

# Remove the comma (,) symbol
df1['Amount($)'] = df1['Amount($)'].str.replace(',', '')

# Remove the hyphen (—) symbol
df1['Amount($)'] = df1['Amount($)'].str.replace('—', '')

# Replace all empty spaces with 0
df1['Amount($)'] = df1['Amount($)'].str.replace('', '0')

# Replace all strings longer than 9 character
max_length = 9
df1['Amount($)'] = df1['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# df1['Amount($)'] = df1['Amount($)'].str.replace('0000000$0000000100000004000000030000000100000004000000050000000', '0')

# df1['Amount($)'] = df1['Amount($)'].str.replace('000000000000000$000000000000000100000000000000040000000000000003000000000000000100000000000000040000000000000005000000000000000', '0')

# Remove all white spaces
df1['Amount($)'] = df1['Amount($)'].str.strip()

df1['Amount($)'] = df1['Amount($)'].astype(np.float64).round(2)

In [29]:
# Checking information on df1 after cleaning the data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Industry       526 non-null    object
 2   Stage          526 non-null    object
 3   Amount         526 non-null    float64
 4   Location       526 non-null    object
 5   What_it_does   526 non-null    object
 6   Year           526 non-null    int32
 7   Headquarters   526 non-null    object
dtypes: float64(1), int32(1), object(6)
memory usage: 30.9+ KB

In [31]:
# Checking df2 information before data cleaning
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
 9   Year           89 non-null     int32
dtypes: float64(1), int32(1), object(8)
memory usage: 6.7+ KB

In [33]:
# Fill missing values in Founded column
df2['Founded'] = df2['Founded'].fillna(0)

In [35]:
# Convert Founded column from float to int
df2['Founded'] = df2['Founded'].astype(int)

In [43]:
# Rename Headquarter to Headquarters
df2 = df2.rename(columns = {'Company/Brand' : 'Company_Brand', 'What it does' : 'What_it_does', 'HeadQuarter' : 'Headquarters'})

In [49]:
# Convert Amount column from object to float data type

# Remove currency symbol $
df2['Amount($)'] = df2['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df2['Amount($)'] = df2['Amount($)'].str.replace(',', '')

# Replace all strings longer than 9 character
max_length = 9
df2['Amount($)'] = df2['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df2['Amount($)'] = df2['Amount($)'].str.strip()

df2['Amount($)'] = df2['Amount($)'].astype(np.float64).round(2)

In [51]:
# Checking df2 after data cleaning
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  89 non-null     object
 1   Founded        89 non-null     int32
 2   Headquarters   70 non-null     object
 3   Sector         84 non-null     object
 4   What_it_does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
 9   Year           89 non-null     int32
 10  Amount         89 non-null     float64
dtypes: float64(1), int32(2), object(8)
memory usage: 7.1+ KB

In [54]:
# df3 information before data cleaning
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
 10  Year           1055 non-null   int32
dtypes: float64(2), int32(1), object(8)
memory usage: 86.7+ KB

In [56]:
# Rename Headquarter to Headquarters
df3 = df3.rename(columns = {'HeadQuarter' : 'Headquarters'})

In [61]:
# Convert Founded column from float to int
df3['Founded'] = df3['Founded'].astype(int)

In [ ]:
# Convert Amount($) column from object to float data type

# Remove currency symbol $
df3['Amount($)'] = df3['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df3['Amount($)'] = df3['Amount($)'].str.replace(',', '')

# Replace all strings longer than 9 character
max_length = 9
df3['Amount($)'] = df3['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df3['Amount($)'] = df3['Amount($)'].str.strip()

df3['Amount($)'] = df3['Amount($)'].astype(np.float64).round(2)

In [62]:
# df3 after renaming column
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  89 non-null     object
 1   Founded        89 non-null     int32
 2   Headquarters   70 non-null     object
 3   Sector         84 non-null     object
 4   What_it_does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
 9   Year           89 non-null     int32
 10  Amount         89 non-null     float64
dtypes: float64(1), int32(2), object(8)
memory usage: 7.1+ KB

In [63]:
# df4 information before data cleaning
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
 9   Year           1209 non-null   int32
dtypes: float64(1), int32(1), object(8)
memory usage: 89.9+ KB

In [69]:
# Rename Headquarter to Headquarters
df4 = df4.rename(columns = {'HeadQuarter' : 'Headquarters', 'Amount' : 'Amount($)'})

In [70]:
df4['Founded'] = df4['Founded'].fillna(0)

In [71]:
# Convert Founded column from float to int
df4['Founded'] = df4['Founded'].astype(int)

In [84]:
# Convert Amount($) column from object to float data type

# Remove currency symbol $
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df4['Amount($)'] = df4['Amount($)'].str.replace(',', '')

# Replace all 'Undisclosed' with '0'
df4['Amount($)'] = df4['Amount($)'].str.replace('Undisclosed', '0')

# Replace all 'undisclosed' with '0'
df4['Amount($)'] = df4['Amount($)'].str.replace('undisclosed', '0')

# Replace all 'Upsparks' with '0'
df4['Amount($)'] = df4['Amount($)'].str.replace('Upsparks', '0')

# Replace all 'Series C' with '0'
df4['Amount($)'] = df4['Amount($)'].str.replace('Series C', '0')

# Replace all 'Seed' with '0'
df4['Amount($)'] = df4['Amount($)'].str.replace('Seed', '0')

# Replace all 'Seed' with '0'
df4['Amount($)'] = df4['Amount($)'].str.replace('ah! Ventures', '0')

# # Replace all strings longer than 9 character
# max_length = 9
# df4['Amount($)'] = df4['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df4['Amount($)'] = df4['Amount($)'].str.strip()

df4['Amount($)'] = df4['Amount($)'].astype(np.float64).round(2)

In [83]:
df4.groupby(by='Stage', as_index = False).sum()

,Stage,Company_Brand,Founded,Headquarters,Sector,What_it_does,Founders,Investor,Amount($),Year
0,$1000000,Saarthi Pedagogy,2015,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,JITO Angel Network LetsVenture,2021
1,$1200000,FanPlayFanPlay,4040,Computer GamesComputer Games,Computer GamesComputer Games,A real money game app specializing in trivia g...,YC W21YC W21,"Pritesh Kumar, Bharat GuptaPritesh Kumar, Bhar...",00,4042
2,$300000,Little LeapBHyve,4040,New DelhiMumbai,EdTechHuman Resources,Soft Skills that make Smart LeadersA Future of...,Holistic Development Programs for children in ...,"Vishal GuptaOmkar Pandharkame, Ketaki Ogale",0ITO Angel Network LetsVenture,4042
3,$6000000,MYRE Capital,2020,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,0,2021
4,Bridge,ProbusVidyakul,4034,New DelhiGurugram,IoTEdTech,A mission to increase the per capita consumpti...,"Anand Singh, Ankit Vaish, Sunny Kumar JadoonTa...",Unicorn India VenturesWe Founder Circle,500000500000,4042
5,Debt,LendingkartAlteria CapitalBharatPeMediBuddyPep...,54369,GujaratMumbaiNew DelhiBangaloreMumbaiMumbaiNew...,FinTechFinTechFinTechEdTechE-commerceFinTechFi...,Lendingkart is an online financing company ded...,"Harshvardhan Lunia, Mukul SachanVinod MuraliAs...","Bertelsmann India Investments, Fullerton Finan...",1500000015000000000020000000300000030000000100...,54567
6,Early seed,PeakPerformer,2020,Bangalore,EdTech,"A goal-oriented, outcome-driven platform to ma...","Aishwarya Goel, Gaurav Jhunjhnuwala",Antler India,0,2021
7,PE,boAt,2016,Mumbai,Fashion & Lifestyle,boAt is a lifestyle brand that deals in fashio...,"Aman Gupta, Sameer Mehta","InnoVen Capital, InnoVen Capita",100000000,2021
8,Pre-seed,ZFW HospitalityNeoDocsAkudoXpresslaneFlashPrep...,94918,New DelhiMumbaiBangaloreBangaloreBangaloreGoaG...,Food & BeveragesHealthtechFinTechTech startupE...,Creating a sustainable and scalable cloud kitc...,"Madhav KasturiaNikunj Malpani, Anurag Meena, P...","Mumbai Angels Network, Expert DOJOY Combinator...",1500000040000050000040000020000030000040000002...,94987
9,Pre-series,Simple EnergyCoutloot,4035,BangaloreMumbai,AutomotiveConsumer Services,A Research and development driven company on a...,"Suhas RajkumarMahima Kaul, Jasmeet Thind","Ameba Capital, 9Unicorns",210000008000000,4042
10,Pre-series A,Unbox RoboticsQube HealthFitterflyORAIOptimize...,316683,BangaloreMumbaiMumbaiBangaloreAhmadabadNew Del...,AI startupHealthTechHealthTechIT startupAeorsp...,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid MemonGagan KapurDr Arbin...","BEENEXT, Entrepreneur FirstInflection Point Ve...",1200000030000004000001800000200000050000000700...,317297
11,Pre-series A1,HobSpacepeARSpardhaBiddano,8069,MumbaiMumbaiPunePune,"EdTechDeeptechEdTechHealth, Wellness & Fitness",HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh JainDharmin Vora, Dhru...","Siddharth Bhaskar Shah, UpsparksInflection Poi...",1000003000004000002000000,8084
12,Pre-series B,PitstopBlue Tokai Coffee RoastersRIPPLRPractic...,20155,BangaloreNew DelhiBangaloreTelanganaNew DelhiB...,AutomotiveFood & BeveragesLogistics & Supply C...,Pitstop offers general repair and maintenance ...,"Mihir Mohan Mishra, Nirant Ramakuru, Ruchi Dee...","Acko Technology, Services, LetsVentureAnicut A...",3500000200000012000000400000050000002000000030...,20210
13,Seed,FypMoneyMyDentalPlanixamBeeUableCharaVidyakulJ...,494632,GurugramBangaloreNew DelhiBangaloreBangaloreBa...,FinTechHelathcareEdTechEdTechDeep TechEdTechGa...,"FypMoney is Digital NEO Bank for Teenagers, em...","Kapil BanwariDr Mohender Narula, Dr AnandKrish...","Liberatha Kallat, Mukesh Yadav, Dinesh NagpalS...",2000000700000300000085000050000011000008000000...,497166
14,Seed+,RACEnergy,2018,Hyderabad,Automotive,RACEnergy is working to power the future of mo...,Arun Sreyas Reddy,"Micelio Fund, growX ventures",1300000,2021
15,Seies A,TABLT,2018,Kolkata,HealthCare,TABLT [Previously Sabse Sasta Dukaan] is one o...,Anish Agarwal,Siti Cable,3000000,2021
16,Series A,Sirona HygieneSolethreadsAvanti FinanceEasebuz...,254166,New DelhiGurugramBangalorePuneBangaloreGurugra...,HealthTechFashionFinTechE-commerceInformation ...,Solving unaddressed Intimate & Menstrual Hygie...,"Deep Bajaj, Mohit BajajVikram IyerRatan Tata, ...","NB Ventures, IAN FundDSG Consumer Partners, Sa...",3000000100000026000000400000050000001200000055...,254646
17,Series A+,Log 9 Materials,2014,Bangalore,Deeptech,Log9 Materials is on a mission to make global ...,"Akshay Singhal, Kartik Hajela",Amara Raja Batteries,8500000,2021
18,Series A2,Avanti Finance,2017,Bangalore,Financial Services,A digital platform to make financial services ...,"Nandan Nilekani, Vijay Kelkar","Oikocredit, Nomura, The Bill & Melinda Gates F...",15000000,2021
19,Series B,CoinSwitch KuberPlayShifuPickrrJupiterToothsiC...,98780,BangaloreBangaloreGurugramMumbaiMumbaiGurgaonB...,FinTechEdTechLogistics & Supply ChainBankingHe...,CoinSwitch Kuber is an India-based cryptocurre...,"Ashish Singhal, Govind Soni, Vimal Sagar Tiwar...","Paradigm, Kunal ShahChiratae Ventures, Bharat ...",2500000017000000120000004400000020000000350000...,99029
20,Series B3,Jumbotail,2015,Bangalore,Food and Beverages,Jumbotail is solving an important problem of o...,"Ashish Jhina, Karthik Venkateswaran","Nexus Venture Partners, 23 High Networth Indiv...",14300000,2021
21,Series C,BizongoSpinnyKhatabookSmallcaseRenewBuySoothe ...,90696,MumbaiGurugramBangaloreBangaloreGurugramNew De...,B2B E-commerceRetailFinancial ServicesFinTechF...,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin AgrawalMohit G...","CDC Group, IDG CapitalArena Holdings, Think In...",5100000065000000100000000400000001000000010000...,90945
22,Series D,Lead SchoolPristyn CareCREDGrowwPostmaninfra.m...,42323,MumbaiGurugramBangaloreBangaloreBangaloreThane...,EdTechHealthTechFinTechFinTechComputer softwar...,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet MehtaHarsimarbir (Harsh) ...","GSV Ventures, Westbridge CapitalSequoia Capita...",3000000053000000215000000830000002250000001250...,42441
23,Series D1,Shiprocket,2012,New Delhi,Logistics,India's #1 eCommerce Logistics and Shipping So...,"Saahil Goel, Akshay Ghulati","March Capital, Tribe Capital",41000000,2021
24,Series E,RazorpayPharmEasyZetwerkBharatPeNephroPlusNeph...,36259,BangaloreMumbaiBangaloreNew DelhiHyderabadHyde...,FinTechHealthTechMechanical & Industrial Engin...,Razorpay is a platform that enables businesses...,"Harshil Mathur, Shashank KumarDharmil Sheth, D...","Matrix Partners India, GICTPG Growth, Caisse d...",1600000003500000001500000003700000002400000024...,36378
25,Series F,SK FinanceLiciousUrban CompanyBYJU'SRebel Food...,12060,JaipurBangaloreNew DelhiBangaloreMumbaiGurugram,Financial ServicesFood & BeveragesHome service...,SK Finance is a leading player in vehicle fina...,"Rajendra SetiaAbhay Hanjura, Vivek GuptaAbhira...","IIFL Wealth, TPG Growth, Norwest Venture Partn...",5300000019200000025000000046000000017500000045...,12126
26,Series F1,Oyo,2012,Gurgaon,Hospitality,OYO operates a branded network of hotels desig...,Ritesh Agarwal,Hindustan Media Venture,7000000,2021
27,Series F2,OYO,2013,Gurugram,Hospitality,OYO is a global travel tech company that conne...,Ritesh Agarwal,Microsoft,5000000,2021
28,Series G,Mohalla TechLicious,4030,BangaloreBangalore,Social mediaFood & Beverages,Mohalla Tech Pvt. Ltd. is a computer software ...,"Ankush Sachdeva, Bhanu Pratap SinghVivek Gupta...",Alkeon Capital,26600000052000000,4042
29,Series H,VerSe InnovationDelhivery,4018,BangaloreGurugram,Innovation ManagementLogistics,Owner of Dailyhunt App and I-PayDelhivery is a...,"Virendra GuptaBhavesh Manglani, Kapil Bharati,...","Canaan Valley Capital, Glade Brook Capital Par...",1000000000270000000,4042
30,Series I,Delhivery,2011,Gurugram,Logistics & Supply Chain,Delhivery is a leading logistics and supply ch...,Sahil Barua,Addition,76000000,2021